
*{
    margin: 0;
}
    #container{
    background-color: #446eda;
}
.links{
    text-decoration: none;
    color: #000;
    
}

/* .app {
    padding: 0px 150px 0px 150px;
} */
/* Header Component */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #f4f4f4;
}
.logo-container{
    margin-left: 150px;
    
}
.logo{
    color: #0723ac;
    border: 1px solid #0723ac;
    padding: 10px;
    align-items: center;
}
.nav-items{
    display: flex;
    justify-content: space-around;
    margin-right: 150px;
}
.nav-item{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    cursor: pointer;
}
.nav-item li{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}

/* ResturentCard */

.resturant-card-container{
    width: 250px;
    padding: 15px;
}
.resturant-card-container:hover{
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.card-img-container{

}
.card-img{
    width: 100%;
}
.res-detials{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.rating-distance{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.distance{
    color: green;
}

/* Body */
.body{
    margin: 40px 150px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
    /* justify-content: space-around; */
    
}
/* searh-and-filter-container */

.searh-and-filter-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.search-container{
    border: 1px solid rgb(207, 207, 207);
    border-radius: 1px;
}
.search-box{
    width: 300px;
    height: 15px;
    border: none;
    padding: 10px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: gray;
}
.search-btn{
    border: none;
    /* height: 20px; */
    padding: 10px;
    /* background: transparent; */
}
.filter-container{
    display: flex;
    gap: 20px;
}
.filter-btn{
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    color: #808080;
    cursor: pointer;
}


/* shimmer-effect */
.shimmer-loading-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}

  
.shimmer-card-container {
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 250px;
    padding: 15px;
    border-radius: 3px;
    /* background: #dbdada; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
   }

  .shimmer-card {
    position: relative;
    overflow: hidden;
  }

  
  .shimmer-effect::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.4), transparent);
    animation: shimmer 1.5s infinite;
  }
  
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  /* .shimmer-card-content {
    padding: 16px;
  } */
  .shimmer-card-img{
    width: 100%;
    height: 150px;
    background-color: #dbdada;
    border-radius: 5px;
  }
  .shimmer-card-title {
    width: 80%;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 8px;
    background-color: #dbdada;
    border-radius: 5px;
  }
  
  .shimmer-card-description {
    width: 100%;
    height: 20px;
    background-color: #dbdada;
    border-radius: 5px;
  }
  .shimmer-card-bottem-description{
    width: 100%;
    height: 35px;
    background-color: #dbdada;
    margin-top: 50px;
    border-radius: 5px;
  }
  















.footer-container{
    height: 100px;
    background: #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container > span {
    text-align: center;
    color: #727171;
}

 