.res-name-res-rating-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px dashed #c4c4c4;
    
}
.res-name-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.res-name-items{
    font-size: 16px;
    color: #808080;
}
.rating-ranking-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #cbc8c8;
    align-items: center;
    padding: 10px 4px;
    border-radius: 5px;
}
.rating{
    font-size: 14px;
    font-weight: 800;
    color: green;
}
.ranking{
    font-size: 12px;
    font-weight: 700;
    color: #808080;
}
